html,body{height: 100%;}

body{background-color: white;display:flex;min-height:100vh;flex-direction:column;}
.body{display:flex;min-height:100vh;flex-direction:column;}
*{font-family: 'Andika New Basic', sans-serif;}

p {align: justify;}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;}

/*Header*/
.header{background: #007FFF; height: 100px; width: 100%; position: fixed, top:0;}
.logo{width:16%; height:60%;color:#fff; font-size: 30px; float:left; position: relative; left: 3%; top: 18px; display: block;}
.header__menu{float: none; position: absolute; top: 30px; left: 50%; transform: translate(-50%,-49%);padding: 10px; }
.header__menu__item{display: inline-block; }
.header__menu__item a{color:#fff; display: block; padding: 13px;text-decoration: none;}
.header__menu__item a:hover{background: #000}

.imagepage{width: 90%; margin-left: 3%;  margin-top: 3%; height: 11%;}
.imagepage1{width: 60%; height: 4%; margin-left: 23%; margin-top: 3%;}
.imagepage2{width: 70%; height: 75%; margin-left: 15%; margin-top: 3%;}
.imagepage3{width: 60%; height: 20%; margin-left: 20%; margin-top: 3%;}

/*Home*/
.logohome{margin-top: 9%; margin-left: 20%; width:30%;}
.ImageBlock{width: 70%; margin-left: 15%;flex:1;}
.image{width: 100%; height: 10%; margin-top: 10%;  }
.slogan{position: absolute;margin-top: 0px; left: 20%;width: 70%; }
.slogan h2{font-size: 15px;}

/*Tour1 -Itinerari*/
.Itinerario{width: 90%; margin-left: 5%;flex:1;}
.Itinerario h1{padding-left: 5%;padding-right: 5%;font-size: 50px;}
.map_block{position: relative; width: 90%; margin-left: 5%;}
.map_image{width: 100%;}
.legenda{position: relative; font-size: 20px; margin-top: 1%;}
.legenda p{padding-left: 5%; text-align: justify;}

/*Tour2 -Contatti*/
.Info{width: 100%;flex:1;}
.Info h1{padding-left: 5%;padding-right: 5%;font-size: 50px;}
.Info h2{padding-left: 5%;padding-right: 5%;font-size: 30px;}
.contattiinfo{position: relative;font-size: 20px;}
.contattiinfo h3{padding-left: 5%;padding-right: 5%;}
.contattiinfo p{padding-left: 5%;padding-right: 5%; font-size: 25px; text-align: justify;}
.bloccoinfo{width: 76%; padding-left: 12%;}

/*BLOCCO INFO*/
form {font-family: 'Andika New Basic', sans-serif;}

label, input[type=text], textarea {
  display: block;
  box-sizing: border-box;
  width: 40%;
  margin-left: 5%;margin-top: 15px;}

input[type=text], textarea {
  padding: 5px;
  border: 1px solid #CCC;
  border-radius: 3px;
  box-sizing: border-box;
  margin-top: 0px;
  margin-bottom: 10px;
  resize: vertical;}

input[type=submit] {
  background-color: #4CAF50;
  color: #FFF;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 5%;}

input[type=submit]:hover {
  background-color: #45a049;}

/*Documentazione*/
.documentazione{width: 90%; margin-left: 5%;flex:1; height: auto;margin-top: 2%;}
.documentazione h1{padding-left: 5%; padding-right: 5%; font-size: 50px;}

.bloccotesto{position:relative; width: 90%; margin-left: 5%; margin-top: 5%}
.bloccotesto h2{color: #E30613;}
.bloccotesto h3{padding-top: 1%; padding-bottom: 0}
.bloccotesto p{text-align: justify; padding-top: 0}

.imgdc{width: 40%; height: 40%; margin-left:30%; margin-top: 5%}


/*Storia*/
.storia h1{font-size:50px;padding-left: 10%;}
.storia p{font-size: 17px; text-align: justify;}
.imagepage{width: 70%; margin-left: 13%; flex:1; margin-top: 3%; height: 11%;}
.storia {border-right: auto; border-left: auto;}
.storiatxt {width: 60%; padding-left: 20%;}
.storia h4{font-size: 17px; color:#007FFF;}

/*Festa*/
.festa h1{width:50%; font-size:50px; padding-left: 34%;}
.festa h2{width:50%;font-size:30px; padding-left:28%;color:#ff0000;}
.festatxt {width: 60%; padding-left: 20%;}
.festa h3{font-size: 27px;}
.festa p{font-size: 17px; text-align: justify;}
.festa {border-right: auto; border-left: auto;}
.festa h4{font-size: 17px; color:#007FFF;}
.imgfontiproagone{width: 70%; height: 50%; margin-left: 15%;}
.imgfonteprocessione{width: 50%; height: 50%; margin-left: 25%;}

/*Teatro*/

.h1teatro h1{width:50%; font-size: 50px; border-left: 34%;}
.testoteatro p{ width: 60%; padding-left: 20%;font-size: 17px; text-align: justify;}
.imgmappa {width: 50%; height: 10%; margin-left: 25%;}
#info1 {margin-left: 9%; font-size: 15px; color:#ff0000; text-align: justify;}
.comico{position: relative; width: 20%; }
.dionisomaschera{position: relative; width: 20%;}
.vaso5{position: relative;width: 20%;}
.deta{width:58%;margin-left: 20%; background: white; color:black; padding: 15px; margin-bottom: 2px;border:solid; border-radius:5px;border-color: #007FFF;}

/*Descrizioni*/
.posizione{width: 90%; margin-left: 5%;flex:1;}
.posizione h1{padding-left: 5%;padding-right: 5%;font-size: 50px;}
.imgpos{width: 30%; float: left; margin-left: 5%; margin-top: 2%}
.imgimg{width: 100%;}
.imgtxt {width: 50%; float: left; margin-left: 5%}
.imgtxt p{text-align: justify; padding-top: 0%}

/*Bibliografia*/
.bibliografia h1{margin-left:20%; margin-top: 5%; }
.bibliografia p{font-size: 25px;margin-left: 20%; width: 60%; text-align: justify;}
.imgbibliografia{width: 15%; height:35%; margin-left: 25%;}
.bibiografia{border-right: auto; border-left: auto;}

/*Footer*/
.footer{background: #007FFF;color: #fff;margin-top: 2%; position: relative; bottom: 0; width:100%;}
.footer_content {display: flex; align-items: left; justify-content: left; flex-direction: column; text-align: left;}
.footer_content h3{padding-top: 0;padding-left: 5%; font-size: 15px;}
.footer_content p{padding-top: 0;padding-left: 5%; font-size: 15px;}
.socials { list-style: none; display: flex; margin-bottom:2%; margin-left: 1.4%}
.socials ul {float: left;}
.socials li {margin: 0 1%; }
.socials a {text-decoration: none; color: #fff;}
.socials a i{ font-size: 30px;}
.socials a:hover i{color: black;}

details {background: white; color:black; padding: 15px; margin-bottom: 2px;border:solid; border-radius:5px;border-color: #007FFF;}
summary {cursor: pointer; font-weight: 900; font-size: 20px; color:#007FFF;}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */